<div class="container d-flex align-items-center justify-content-center flex-wrap">
    <div class="anime">
        <div class="box">
            <div class="body">
                <div class="imgContainer">
                    <img src="\assets\Ajit.jpg" alt="">
                </div>
                <div class="content d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <h1 class="text-white fs-5">Ajit Dighe</h1>
                        <h2 class="fs-6 text-white">Full Stack Developer</h2>
                        <p>“One man’s crappy software is another man’s full time job.”</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="body">
                <div class="imgContainer">
                    <img src="\assets\SwapnilM.jpg" alt="">
                </div>
                <div class="content d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <h1 class="text-white fs-5">Swapnil Mandvekar</h1>
                        <h2 class="fs-6 text-white">Full Stack Developer</h2>
                        <p>“A user interface is like a joke. If you have to explain it, it’s not that good.”
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="body">
                <div class="imgContainer">
                    <img src="\assets\Shubham.jpg" alt="">
                </div>
                <div class="content d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <h1 class="text-white fs-5">Shubham Dahiwale</h1>
                        <h2 class="fs-6 text-white">Full Stack Developer</h2>
                        <p>“If Internet Explorer is brave enough to ask to be your default browser, You are brave enough
                            to
                            ask that girl out.”</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="body">
                <div class="imgContainer">
                    <img src="\assets\Mahesh.jpg" alt="">
                </div>
                <div class="content d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <h1 class="text-white fs-5">Mahesh Raghu</h1>
                        <h2 class="fs-6 text-white">QA Automation Engineer</h2>
                        <p>“Software undergoes beta testing shortly before it’s released. Beta is Latin for “still
                            doesn’t
                            work.”</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="body">
                <div class="imgContainer">
                    <img src="\assets\Sneha.jpg" alt="">
                </div>
                <div class="content d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <h1 class="text-white fs-5">Sneha Jagdale</h1>
                        <h2 class="fs-6 text-white">Full Stack Developer</h2>
                        <p>“It’s not a bug. It’s an undocumented feature!”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>